code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Chicago';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: #000000;
  color: #FFFFFF;
}

#root {
  min-height: 100%;
}

/*
 * Import the custom font.
 */
@font-face  {
	font-family: 'Chicago';
	font-style: normal;
	font-weight: normal;
	src: local('Chicago'), url('./fonts/ChicagoFLF.ttf')
}
